<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Chat - Customer Module</title>
</head>

<body ng-app="myApp" ng-controller="personCtrl">

<div>
  username:<input name="username" type="text" id="from" size="35" ng-model="username"/>
  password:<input name="password" type="text" id="to" size="35" ng-model="password"/>
  <button id="infoButton" ng-click="register()">Register</button> <button ng-click="login()">login</button>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
<script src="view1/controller.js"></script>
</body>
</html>