<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
  <script src="view1/loginController.js"></script>
  <title>Home Page</title>
</head>

<body>

<div ng-app="loginModule" ng-controller="loginController">
  {{loading()}}
  username:<input type="text" ng-model="username">
  password:<input type="password" ng-model="password">
  <br /><br />
  <button ng-click='login()'>login</button>
  <br /> <br /> <br />
  {{test}}
</div>

</body>

</html>